@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://allfont.es/allfont.css?fonts=noto-serif');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

/* CSS PARA EL JUEGO */

.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}


/* CSS PARA EL RESTO */
/*Making the layout responsive with columns*/
* {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


/* CSS FOR LOGO */
#logo {
	float: left;
	width: 190px;
	height: 60px;
  padding:5px;
  padding-left: 100px;
  margin:0px;
}

/* ---------------------------------- MAIN PARTS OF LAYOUT ---------------------------------- */

/*HEADER*/
header{
	background-color: #ebfaeb;
	text-align: left;
	font-size:20px;
	color: black;
	border-radius: 0px;
	overflow:auto;
	padding: 0px;
	/*Añadido, no tengo claro por que?*/
	size:100%;
  width: 100%; /* Para que se quede fixed*/
  position: fixed;

}

/*SECTION*/
section {
/*flex:100%;*/
	background-color: white;
	text-align: justify;
	padding: 100px;
	border-radius:0px;
	margin: 15px;
	padding-top: 0px;
	margin-top: 0px;
  margin-bottom: 0px;
  /* padding-bottom: 50px; */

}
#inicio {
  padding-top: 100px;
}

/*BODY*/
body{
	font-family: Comfortaa ;
	background-color: white;
}



/* ------------------------------------------------------ PARA LAS FOTOS DE EQUIPO ------------------------------------------------------ */
img.avatar {
  height: 75%;
  width: 75%;
  border-radius: 50%;
  border: 2px solid black;
  /* vertical-align:middle; */
  /* margin: auto; */
  margin-left: 25px;

}
/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
  left:0;
  right:0;
  /* align: center; */
  /* display: flex; */
  align-items:center;
}

.hola {
  text-align: center;

}

.row{
  clear:both;
}

.title {
  color: grey;
}

.card {
  /* vertical-align:middle; */

}

.team{
  padding-top: 20px;
  padding-bottom: 50px;
}

/*ARTICLE*/
article {
	flex:100%;
	background-color: white;
	text-align: justify;
	padding: 2%;
	border-radius:0px;
	margin: 0px;
}

/*FOOTER*/
footer {
	background-color: #ebfaeb;
	padding: 5px;
	font-size: 12px;
	color: black;
	margin: 5px 0px 0px 0px;
	overflow:auto;
	width:100%
}






/*Setting header options horizontal menu*/
ul#reglog {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    font-size: 18px;
    margin-left: 30px;
    padding-right: 100px;

}

#reglog li {
    float: left;
    margin-top: 10px;
    font-weight: 600;
}

#reglog li a {
    display: block;
    color: #4c4c4c;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#reglog li a:hover {
    opacity:0.7;
    color: black;
    border: 2px solid #c2f0c2;
    font-weight: 1000;
    border-radius: 30%;
    background-color: #c2f0c2;
}

/*Setting options for the menu under the header*/
ul#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D3D3D3;
    border-radius: 0px;
    font-size: 16px;

}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: #4c4c4c;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: white;
    color: #4c4c4c;
}

.active {
    background-color: white;
    color:  #4c4c4c;
    font-weight: 900;
}



.signupButton {
  float: right;
  width: 49%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
  font-family: Comfortaa;
  font-size: 14px;
}

.loginButton {
  float: centered;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
  font-family: Comfortaa;
  font-size: 14px;
}

.cancelButton {
    padding: 14px 20px;
    background-color: #f44336;
    float: left;
    width: 49%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 10px;
    font-family: Comfortaa;
    font-size: 14px;
}


/*Sets the color and font for the form input hint*/
input{
	color: black;
	font-family: Comfortaa;
	/*width:100%;*/
	font-size:15px;
  background: #f1f1f1;
  margin: 5px 0 22px 0;
  padding: 6px;
  border:1px solid #c0c2c4;
}

.format {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

h3 {
  font-family: PT Sans Narrow;
  text-align: left;
  font-size: 200%;
  font-weight: 1000;
}

#navigationbar{
  margin: 2px 0px;
}

button.headerbuttons{
  float:right;
  background-color: white;
  padding: 14px 20px;
  width: 7%;
  margin:30px 20px 10px 10px;/*Top right bottom left*/
  cursor: pointer;
  opacity: 0.8;
  border-radius: 8px;
  font-family: Comfortaa;
  font-size: 14px;
}

.headerbuttons:hover {
    background-color: #D3D3D3;
    color: #4c4c4c;
    font-weight: 900;
}

/*Actions on links*/
a:link, a:visited {
	color: #4c4c4c;
	text-decoration:none;
}

a:hover {
	color: black;
  text-decoration:none;
  font-weight: 1000;
}

.small_icon{
	height:20px;
	width:20px;
}

/*Footer characteristics*/
ul#footer_list{
	list-style-type: none;
	overflow: hidden;
	padding:5px;
	margin:5px;
}

ul#footer_list li {
	font-size: 10px;
	text-align: center;
	padding: 14px 14px;
	margin-top:-15px;
	text-decoration: none;
	float:left;
}

/* ------------------------------------------------------ PARA LAS FOTOS DE EQUIPO ------------------------------------------------------ */
img.avatar {
  height: 75%;
  width: 75%;
  border-radius: 50%;
  border: 2px solid black;
  /* vertical-align:middle; */
  /* margin: auto; */
  margin-left: 25px;

}
/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
  left:0;
  right:0;
  /* align: center; */
  /* display: flex; */
  align-items:center;
}

.hola {
  text-align: center;

}

.row{
  clear:both;
}

.title {
  color: grey;
}

.card {
  /* vertical-align:middle; */

}

.team{
  padding-top: 20px;
  padding-bottom: 50px;
}

/*Setting header options horizontal menu*/
ul#reglog {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    font-size: 18px;
    margin-left: 30px;
    padding-right: 100px;

}

#reglog li {
    float: left;
    margin-top: 10px;
    font-weight: 600;
}

#reglog li a {
    display: block;
    color: #4c4c4c;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#reglog li a:hover {
    opacity:0.7;
    color: black;
    border: 2px solid #c2f0c2;
    font-weight: 1000;
    border-radius: 30%;
    background-color: #c2f0c2;
}

/*Setting options for the menu under the header*/
ul#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D3D3D3;
    border-radius: 0px;
    font-size: 16px;

}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: #4c4c4c;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: white;
    color: #4c4c4c;
}

.active {
    background-color: white;
    color:  #4c4c4c;
    font-weight: 900;
}


/* ------------------------------------------------------ Fonts -------------------------------------------------- */
/*Company title*/
h1{
	width: 100%;
	float:left;
  color:black;
	font-family: PT Sans Narrow;
	font-size: 300%;
	margin:4% 1% 0% 0%;
  font-weight: 500;
  margin-top: 70px;
  padding-top: 0px;
  padding-bottom: 30px;

}
#primer{
  margin-top: 10px;
}

h2 {
    margin:15px auto;
    font-family: Comfortaa;
    font-weight: 1000;
    font-size: 150%;
}
p {
  text-align:justify;
  font-size: 120%;
  line-height: 1.9;
}
#espacioUp{
  margin-top: 100px;
}

div.objColLeft{
  float: left;
  width: 60%;
}
div.objColRight{
  float: right;
  width: 30%;
}

/* Clear floats after the columns */
.objRow:after {
  content: "";
  display: table;
  clear: both;
}

.logoObj{
  width: 70%;
  height: 70%;
}

.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* unvisited link */
a:link {
  color: #698b4f;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #698b4f;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: #698b4f;
  /* text-decoration: none; */
  font-weight: 10000;
}

/* selected link */
a:active {
  color: #698b4f;
}



/*  ----------------------------------------------MODALES  ---------------------------------------------- */
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.objetivos:hover{
  color:#000!important;
  background-color:#ccc!important;
}
.objetivos{
  border:none;
  display: inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  margin:0;
  padding:0;
}
/* .objetivos{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} */
.w3-modal-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:600px;

}
.topright{
  position:absolute;
  right:10px;
  top:5px;
  padding: 10px;
  cursor: pointer;
}
.w3-modal{
  z-index:3;
  display:none;
  padding-top:200px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  /* overflow:auto; */
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
}


.objSize {
  width: 140px;
  height: 140px;
  margin: 10px;
}

#desarrollado{
  font-size: 150%;
  padding-bottom: 0;
  margin-bottom: 0;
}

#foot{
  /* float:right; */
  width: 150px;
  height: 150px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#centrar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120%;
}
.w3-teal,.w3-hover-teal:hover{
  color:#fff!important;
  background-color:#196619!important
}
/* .w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap} */
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

/*  ---------------------------------------------- Agradecimientos  ---------------------------------------------- */

.agr {
  height: 15%;
  width: 15%;
  margin-right: 50px;
}
